:root {
    --ch-primary-color: #B8B8B8;
    --ch-secondary-color: #FF8B1F;
    --ch-highlight-color: rgb(250, 225, 120);
    --ch-nav-toggler-color: var(--ch-highlight-color);
    --ch-nav-toggler-glow: rgba(250, 225, 120, 0.8);


    --ch-dark-color: #002C66;
    --ch-light-color: #E2DFDF;
    --ch-background-color: #CFE3F2;
    --ch-title-font: 'Bebas Neue', sans-serif;
    --ch-subtitle-font: 'Fira Sans', sans-serif;
    --ch-heading-font: 'Bebas Neue', sans-serif;
    --ch-body-font: 'Roboto', sans-serif;

    --ch-font-size: 2rem;
    --ch-font-weight: 500;
    --ch-line-height: 1.5rem;
    --ch-title-color: #251605;
}




/* sticky footer start */

html,
body {

    height: 100%;
    overflow-y: auto;
}

.cimage {
     

        width:  355px;
        height: 355px;
        object-fit: cover;
    
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--ch-body-font);
    font-size: var(--ch-font-fize);
    font-weight: var(--ch-font-weight);
    line-height: var(--ch-line-height);
    color: #120B02;
    background: var(--ch-background-color);

}

.content {
    flex: 1 0 auto;
    margin-top: 1rem;
}

footer {
    flex-shrink: 0;
}

/* sticky footer end */



/*START:  */


#mainNav {
    background: var(--ch-dark-color) !important;
}


#mainNav button {
    border-color: #FF8B1F;
}


.navbar-toggler {
    color: #FF8B1F;
}


.navbar-toggler-icon-ch {
    color: #FF8B1F;;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
}


/* */

h6, .h6, 
h5, .h5,
h4, .h4,
h3, .h3,
h2, .h2,
h1, .h1 {

    font-family: var(--ch-heading-font);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--ch-title-color);
}

.btn-primary {
    color: white !important;
    background-color: var(--ch-secondary-color) !important;
    border-color: var(--ch-secondary-color);
}

.btn-primary:hover {
    filter: brightness(1.1) !important;
    border-color: var(--ch-highlight-color);
}

.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    filter: brightness(1.1) !important;
    border-color: var(--ch-dark-color) !important;
}


.linkstyle {
   
    text-decoration: none;
}

.linkstyle:hover {
    color: #FF8B1F !important;
    filter: saturate(2);
    text-decoration: underline;
}


/* */




.footer-main {
    background-color: var(--ch-dark-color);
    color: var(--ch-light-color);
}

.footer-main a.socialicons {
    color: var(--ch-secondary-color);
}


.footer-main a.socialicons:hover {
    color: #61E8E1 !important;
    opacity: 1;
    transition: color 0.25s ease-in;
}

.socialicons {
    font-size: 2rem;
}


.footer-cta {
    background-color: var(--ch-secondary-color);
    width: 75%;
    border-radius: 10px;

}

.footer-bg-cta {
    background: linear-gradient(to bottom, var(--ch-background-color), var(--ch-background-color) 50%, var(--ch-dark-color) 50%, var(--ch-dark-color) 100%);
    padding-bottom: 1.5rem;
}



/* START: Main Header Styles*/

.mainHeader {
    height: 200px;
    background-image: url(/img/DevPortFolioBG_576.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-color: var(--ch-light-color);
   }
   
   .mainHeader-cover {
       min-height: 200px;
       background-image: url(/img/cityBG_2560.png);
       background-repeat: no-repeat;
       background-position: top left;
       height: 100%;
       width: 100%;
       overflow: hidden;
       background-size: cover;
   }
   
   .mainHeader-cover > .mainHeader-content {
           backdrop-filter: blur(1px)  brightness(90%) contrast(150%) saturate(150%);
           -webkit-backdropp-filter: blur(1px)  brightness(90%) contrast(150%) saturate(150%);
   }
   
   
   @supports not (backdrop-filter: blur(3px)) {
       .mainHeader-cover > .mainHeader-content {
           background-color: rgba(0, 37, 46, 0.6);
       }
   }
   
   .mainHeader-wrapper {
   
       padding-left: 1rem;
       margin-top: 6rem;
   }

.mainTitle {
    font-family: var(--ch-title-font);
    font-size: 2.5rem;
    line-height: 2rem;
    color: #FF8B1F !important;

}

.mainLogo {

    height: .6em;

}


.subTitle {
        font-family: var(--ch-subtitle-font);
        font-size: .9rem !important;
        line-height: 1.5rem !important;
        font-weight: 400 !important;
        color: #FF8B1F !important;
        letter-spacing: 0.9rem !important;
}


.profilePic {
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}


section {

    padding-left: 1rem;
    padding-right: 1rem;
}

.section-page {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section-page:nth-child(even) {
    background-color: var(--ch-light-color);
}


.section-page:nth-child(odd) {
        background-color: var(--ch-primary-color);
}

.section-page:nth-last-child(2) {
    background-color: var(--ch-primary-color);
}


.section-page:last-child {
    background-color: var(--ch-light-color);
}

/*END: main header ctyles */


.devicons {
    font-size: 4rem;
}

.section-cta {
    background-color: var(--ch-dark-color);
    color: var(--ch-light-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    text-align: center;
    line-height: 1.2rem;
}

.cta-arrow {

    color: var(--ch-highlight-color);
    font-size: 2rem;
}

.cta-arrow:hover {
    color: var(--ch-highlight-color);
    filter: brightness(1.2);

}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

}







/* ------------MEDIA QUERIES */

/* 576px and up */


@media (min-width: 576px) {
    .mainHeader {
        height: 200px;
        background-image: url(/img/DevPortFolioBG_767.png);
        background-repeat: no-repeat;
        background-position: right top;
        background-color: var(--ch-light-color);
       }
       
       .mainHeader-content {}
       
       .mainHeader-wrapper {
       
           padding-left: 1rem;
       
       }
       
       .mainTitle {
           font-family: var(--ch-title-font);
           font-size: 2.5rem;
           line-height: 2rem;
           color: var(--ch-dark-color);
       
       }
       
       .mainLogo {
       
           height: .6em;
       
       }
       
       
       .subTitle {
               font-family: var(--ch-subtitle-font);
               font-size: .6rem;
               line-height: 1rem;
               font-weight: 300;
               color: var(--ch-dark-color);
               letter-spacing: .09rem;
       }
}



@media (min-width: 576px) {
    .mainHeader {
        height: 300px;
        background-image: url(/img/DevPortFolioBG_992.png);
       
       }
       
      
       
       .mainHeader-wrapper {
       
           padding-left: 1rem;
       
       }
       
       .mainTitle {
          
           font-size: 4.5rem;
           line-height: 3.5rem;
         
       
       }
       
  
       
       
       .subTitle {
              
               font-size: .6rem;
               line-height: 1rem;
               letter-spacing: .09rem;
       }
}



/* 576px and up */
@media (min-width: 768px) {

    .mainHeader {
        height: 300px;
        background-image: url(/img/DevPortFolioBG_992.png);
       
       }
       
      
       
       .mainHeader-wrapper {
       
           padding-left: 1rem;
       
       }
       
       .mainTitle {
          
           font-size: 4.5rem;
           line-height: 3.5rem;
         
       
       }
       
  
       
       
       .subTitle {
              
               font-size: .6rem;
               line-height: 1rem;
               font-weight: 300;
               letter-spacing: .1rem;
       }

       .section-cta {
        font-size: 1.5rem;
        line-height: 1.7rem;
       }

       .cta-arrow {
        font-size: 2.5rem;

       }
}



/* 576px and up */
@media (min-width: 992px) {
    .mainHeader {
        height: 300px;
        background-image: url(/img/DevPortFolioBG_992.png);
       
       }
       
      
       
       .mainHeader-wrapper {
       
           padding-left: 1rem;
       
       }
       
       .mainTitle {
          
           font-size: 4.5rem;
           line-height: 3.5rem;
         
       
       }
       
  
       
       
       .subTitle {
              
               font-size: .6rem;
               line-height: 1rem;
               letter-spacing: .09rem;
       }
}



/* 576px and up */
@media (min-width: 1200px) {

    .mainHeader {
        height: 300px;
        background-image: url(/img/DevPortFolioBG_992.png);
       
       }
       
      
       
       .mainHeader-wrapper {
       
           padding-left: 1rem;
       
       }
       
       .mainTitle {
          
           font-size: 4.5rem;
           line-height: 3.5rem;
         
       
       }
       
  
       
       
       .subTitle {
              
               font-size: .6rem;
               line-height: 1rem;
               letter-spacing: .09rem;
       }

       .section-cta {
        font-size: 2.5rem;
        line-height: 2.7rem;
       }

       .cta-arrow {
        font-size: 4rem;
       }

}



/* 576px and up */
@media (min-width: 1400px) {
    .mainHeader {
        height: 300px;
        background-image: url(/img/DevPortFolioBG_992.png);
       
       }
       
      
       
       .mainHeader-wrapper {
       
           padding-left: 1rem;
       
       }
       
       .mainTitle {
          
           font-size: 4.5rem;
           line-height: 3.5rem;
         
       
       }
       
  
       
       
       .subTitle {
              
                font-size: .6rem;
               line-height: 1rem;
               letter-spacing: .09rem;
       }
}