:root {
    --ch-primary-color: rgb(145, 203, 251);
    --ch-secondary-color: rgb(66, 148, 186);
    --ch-highlight-color: rgb(250, 225, 120);
    --ch-nav-toggler-color: var(--ch-highlight-color);
    --ch-nav-toggler-glow: rgba(250, 225, 120, 0.8);


    --ch-dark-color: #212121;
    --ch-light-color: #deeefb;
    --ch-background-color: rgba(250, 250, 250, 0.8);

    --ch-title-font: 'Bebas Neue', sans-serif;
    --ch-subtitle-font: 'Fira Sans', sans-serif;
    --ch-heading-font: 'Bebas Neue', sans-serif;
    --ch-body-font: 'Roboto', sans-serif;

    --ch-font-size: 1.2rem;
    --ch-font-weight: 400;
    --ch-line-height: 1.5rem;
    --ch-title-color: var(--ch-dark-color)
}




/* sticky footer start */

html,
body {

    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--ch-body-font);
    font-size: var(--ch-font-fize);
    font-weight: var(--ch-font-weight);
    line-height: var(--ch-line-height);
    color: var(--ch-dark-color);
    background: var(--ch-background-color);

}

.content {
    flex: 1 0 auto;
    margin-top: 1rem;
}

footer {
    flex-shrink: 0;
}

/* sticky footer end */



/*START:  */


#mainNav {
    background: var(--ch-dark-color);
}


#mainNav button {
    border-color: var(--ch-highlight-color);
}


.navbar-toggler {
    color: var(--ch-nav-toggler-glow);
}


.navbar-toggler-icon-ch {
    color: var(--ch-nav-toggler-color);
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
}




.footer-main {
    background-color: var(--ch-dark-color);
    color: var(--ch-light-color);
}

.footer-main a.socialicons {
    color: var(--ch-secondary-color);
}


.footer-main a.socialicons:hover {
    color: var(--ch-highlight-color);
    opacity: 1;
    transition: color 0.25s ease-in;
}

.socialicons {
    font-size: 2rem;
}


/* START: Main Header Styles*/

.mainHeader {
 height: 200px;
 background-image: url(/img/JillPrestonBanner_375.jpg);
 background-repeat: no-repeat;
 background-position: left;
 background-color: var(--ch-light-color);
}

.mainHeader-content {

}

.mainHeader-wrapper {

    padding-left: 1rem;

}

.mainTitle {
    font-family: var(--ch-title-font);
    font-size: 2.5rem;
    line-height: 2rem;
    color: var(--ch-dark-color);

}

.mainLogo {

    height: .6em;

}


.subTitle {
        font-family: var(--ch-subtitle-font);
        font-size: .6rem;
        line-height: 1rem;
        font-weight: 300;
        color: var(--ch-dark-color);
        letter-spacing: .09rem;
}


.profilePic {
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

/*END: main header ctyles */









/* ------------MEDIA QUERIES */

/* 576px and up */


@media (min-width: 576px) {
    .mainHeader {
        height: 200px;
        background-image: url(/img/JillPrestonBanner_767.jpg);
        background-repeat: no-repeat;
        background-position: left;
        background-color: var(--ch-light-color);
       }
       
       .mainHeader-content {}
       
       .mainHeader-wrapper {
       
           padding-left: 1rem;
       
       }
       
       .mainTitle {
           font-family: var(--ch-title-font);
           font-size: 2.5rem;
           line-height: 2rem;
           color: var(--ch-dark-color);
       
       }
       
       .mainLogo {
       
           height: .6em;
       
       }
       
       
       .subTitle {
               font-family: var(--ch-subtitle-font);
               font-size: .6rem;
               line-height: 1rem;
               font-weight: 300;
               color: var(--ch-dark-color);
               letter-spacing: .09rem;
       }
}



@media (min-width: 576px) {
    .mainHeader {
        height: 200px;
        background-image: url(/img/JillPrestonBanner_767.jpg);
        background-repeat: no-repeat;
        background-position: left;
        background-color: var(--ch-light-color);
       }
       
       .mainHeader-content {}
       
       .mainHeader-wrapper {
       
           padding-left: 1rem;
       
       }
       
       .mainTitle {
           font-family: var(--ch-title-font);
           font-size: 2.5rem;
           line-height: 2rem;
           color: var(--ch-dark-color);
       
       }
       
       .mainLogo {
       
           height: .6em;
       
       }
       
       
       .subTitle {
               font-family: var(--ch-subtitle-font);
               font-size: .6rem;
               line-height: 1rem;
               font-weight: 300;
               color: var(--ch-dark-color);
               letter-spacing: .09rem;
       }
}



/* 576px and up */
@media (min-width: 768px) {

    .mainHeader {
        height: 300px;
        background-image: url(/img/JillPrestonBanner_992.jpg);
        background-repeat: no-repeat;
        background-position: left;
        background-color: var(--ch-light-color);
       }
       
       .mainHeader-content {}
       
       .mainHeader-wrapper {
       
           padding-left: 1rem;
       
       }
       
       .mainTitle {
           font-family: var(--ch-title-font);
           font-size: 4.5rem;
           line-height: 3.5rem;
           color: var(--ch-dark-color);
       
       }
       
       .mainLogo {
       
           height: .6em;
       
       }
       
       
       .subTitle {
               font-family: var(--ch-subtitle-font);
               font-size: 1.2rem;
               line-height: 1rem;
               font-weight: 300;
               color: var(--ch-dark-color);
               letter-spacing: .1rem;
       }
}



/* 576px and up */
@media (min-width: 992px) {
    .mainHeader {
        height: 400px;
        background-image: url(/img/JillPrestonBanner_1200GoodCopy.jpg);
        background-repeat: no-repeat;
        background-position: left;
        background-color: var(--ch-light-color);
       }
       
       .mainHeader-content {}
       
       .mainHeader-wrapper {
       
           padding-left: 1rem;
       
       }
       
       .mainTitle {
           font-family: var(--ch-title-font);
           font-size: 5.5rem;
           line-height: 4.5rem;
           color: var(--ch-dark-color);
       
       }
       
       .mainLogo {
       
           height: .6em;
       
       }
       
       
       .subTitle {
               font-family: var(--ch-subtitle-font);
               font-size: 1.2rem;
               line-height: 1rem;
               font-weight: 300;
               color: var(--ch-dark-color);
               letter-spacing: .12rem;
       }
}



/* 576px and up */
@media (min-width: 1200px) {

    .mainHeader {
        height: 500px;
        background-image: url(/img/JillPrestonBanner_2560.png);
        background-repeat: no-repeat;
        background-position: left;
        background-color: var(--ch-light-color);
       }
       
       .mainHeader-content {}
       
       .mainHeader-wrapper {
       
           padding-left: 1rem;
       
       }
       
       .mainTitle {
           font-family: var(--ch-title-font);
           font-size: 6.5rem;
           line-height: 5.5rem;
           color: var(--ch-dark-color);
       
       }
       
       .mainLogo {
       
           height: .6em;
       
       }
       
       
       .subTitle {
               font-family: var(--ch-subtitle-font);
               font-size: 1.2rem;
               line-height: 1rem;
               font-weight: 300;
               color: var(--ch-dark-color);
               letter-spacing: .15rem;
       }
}



/* 576px and up */
@media (min-width: 1400px) {

    .mainHeader {
        height: 500px;
        background-image: url(/img/JillPrestonBanner_2560.png);
        background-repeat: no-repeat;
        background-position: left;
        background-color: var(--ch-light-color);
       }
       
       .mainHeader-content {}
       
       .mainHeader-wrapper {
       
           padding-left: 1rem;
       
       }
       
       .mainTitle {
           font-family: var(--ch-title-font);
           font-size: 6.5rem;
           line-height: 5.5rem;
           color: var(--ch-dark-color);
       
       }
       
       .mainLogo {
       
           height: .6em;
       
       }
       
       
       .subTitle {
               font-family: var(--ch-subtitle-font);
               font-size: 1.2rem;
               line-height: 1rem;
               font-weight: 300;
               color: var(--ch-dark-color);
               letter-spacing: .2rem;
       }
}